# Example inventory for gitlab-runner.yml
# Usage:
# cp gitlab-runner.ini.example gitlab-runner.ini
# vim gitlab-runner.ini  # edit file and adjust the conf and credentials
# ansible-playbook -i gitlab-runner.ini gitlab-runner.yml

[gitlab-runner]
10.10.10.10 ansible_user=ubuntu

[gitlab-runner:vars]
ansible_python_interpreter=/usr/bin/python3

concurrent = 16
check_interval = 3
log_level = debug

# Gitlab->Project->Settings->CI/CD
CI_SERVER_URL = https://gitlab.catalyst.net.nz/
REGISTRATION_TOKEN = <TOKEN>
DOCKER_IMAGE = gitlab.catalyst.net.nz:4567/samba/samba:latest

RUNNER_NAME = samba-gitlab-runner-bastion
RUNNER_LIMIT = 4
RUNNER_EXECUTOR = docker+machine

MACHINE_NAME = samba-%s
MACHINE_IDLE_COUNT = 0
MACHINE_IDLE_TIME = 0
MACHINE_MAX_BUILDS = 100
MACHINE_OFF_PEAK_IDLE_COUNT = 0
MACHINE_OFF_PEAK_IDLE_TIME = 0
MACHINE_DRIVER = openstack

# Openstack->API Access->View Credentials
OS_AUTH_URL = https://api.cloud.catalyst.net.nz:5000/v2.0
OS_TENANT_NAME = sambatest.catalyst.net.nz
OS_REGION_NAME = nz-por-1

OS_NETWORK_NAME = gitlab-runner-net
OS_FLAVOR_NAME = c1.c1r1

OS_IMAGE_NAME = ubuntu-16.04-x86_64
OS_SSH_USER = ubuntu

OS_USERNAME = <OPENSTACK-USERNAME>
OS_PASSWORD = <OPENSTACK-PASSWORD>
